.main {
  width: 100vw;
  height: 100vh;
  overflow-y:hidden;
  background-color: #DBA1E6;
}

.main2{
  width: 100vw;
  height: 100vh;
  background-color:#F0C2F8;
}

.frost {
border: 3px solid #1E152A;
color:#1E152A;
box-shadow: 1.5em 1.5em #2A2A2A;

&:hover {
  box-shadow: 1.5em 1.5em #2A2A2A;
}

}

.socialsframe5, .socialsframe6{
  display:none;
}

@media (max-width: 769px) {

  .main{
    overflow-x:hidden;
    overflow-y:hidden;
  }
  .frost{
    /* width:200px;
    height:auto;
    position:absolute;
    box-shadow:0.5em 0.5em #2A2A2A; */
    display:none;
  }

  .tokenimage{
    width:300px;
    height:auto;
  }

  .socialsframe3, .socialsframe4{
    display:none;
  }

  .socialsframe5, .socialsframe6{
    display:flex;
    background-color:transparent !important;
    padding:5px;
    box-shadow:none !important;
    transform:none !important;
  }

}



@font-face {
  font-family: 'Kinder';
  src: url('/kindergarten.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

.socialsframe{
  background-color:#2A2A2A;
  padding:5px;
  transform:rotate(-10deg);
  box-shadow: 0.2em 0.2em black;
}
.socialsframe2{
  background-color:#2A2A2A;
  padding:5px;
  transform:rotate(5deg);
  box-shadow: 0.2em 0.2em black;
}

.socialsframe3{
  background-color:#2A2A2A;
  padding:5px;
  transform:rotate(-10deg);
  box-shadow: 0.2em 0.2em black;
  
}
.socialsframe4{
  background-color:#2A2A2A;
  padding:5px;
  transform:rotate(5deg);
  box-shadow: 0.2em 0.2em black;
}

.socialsframe:hover, .socialsframe2:hover, .socialsframe4:hover , .socialsframe3:hover{
  transform: translate(-0.05em, -0.05em) rotate(15deg);
  box-shadow: 0.30em 0.30em black;
}

.tokencont {
  padding: 168px 48px;
}

.tokencont > :first-child {
  margin-top:-168px;
  margin-bottom:-48px;
}

@keyframes float {
  0% {
    transform: translateY(0) translateX(0) rotate(10deg);
  }
  50% {
    transform: translateY(-30px) translateX(30px) rotate(10deg); /* Adjust float distance */
  }
  100%{
    transform: translateY(0) translateX(0) rotate(10deg);
  }
}

@keyframes float2 {
  0% {
      transform: translate(0, 0) rotateY(180deg);
  }
  60% {
      transform: translate(15px, -15px) rotateY(180deg);
  }
  100% {
      transform: translate(0, 0) rotateY(180deg);
  }
}


@keyframes float3 {
  0% {
    transform: translateY(0) translateX(0) rotate(-10deg);
  }
  50% {
    transform: translateY(-30px) translateX(30px) rotate(-10deg); /* Adjust float distance */
  }
  100%{
    transform: translateY(0) translateX(0) rotate(-10deg);
  }
}

@keyframes float4 {
  0% {
      transform: translate(0, 0) rotateY(180deg);
  }
  60% {
      transform: translate(15px, -45px) rotateY(180deg);
  }
  100% {
      transform: translate(0, 0) rotateY(180deg);
  }
}


@keyframes float5 {
  0% {
    transform: translateY(0) translateX(0) rotate(10deg);
  }
  50% {
    transform: translateY(-20px) translateX(-50px) rotate(10deg); /* Adjust float distance */
  }
  100%{
    transform: translateY(0) translateX(0) rotate(10deg);
  }
}

@keyframes float6 {
  0% {
      transform: translate(0, 0) rotateY(180deg) rotateX(20deg);
  }
  60% {
      transform: translate(40px, -10px) rotateY(180deg);
  }
  100% {
      transform: translate(0, 0) rotateY(180deg);
  }
}


@keyframes float7 {
  0% {
    transform: translateY(0) translateX(0) rotate(10deg);
  }
  50% {
    transform: translateY(-30px) translateX(30px) rotate(10deg); /* Adjust float distance */
  }
  100%{
    transform: translateY(0) translateX(0) rotate(10deg);
  }
}


.sperm {
  animation: float 3s ease-in infinite;
  position:absolute;
  width:200px;
}
.sperm1 {
  animation: float2 2s ease-in infinite;
}
.sperm2 {
  animation: float3 4s ease-in-out infinite;
}
.sperm3 {
  animation: float4 5s ease-in-out infinite;
}
.sperm4 {
  animation: float5 6s ease-in-out infinite;
}
.sperm5 {
  animation: float6 5s ease-in-out infinite;
}
.sperm6 {
  animation: float7 4s ease-in-out infinite;
}
